<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.unab.oba">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OBA">
        <activity
            android:name=".RegistrarPersonaActivity"
            android:exported="false" />
        <activity
            android:name=".ListarPersonasActivity"
            android:exported="false" />
        <activity
            android:name=".ModuloPersonas"
            android:exported="false" />
        <activity
            android:name=".ModuloAdministrador"
            android:exported="false" />
        <activity
            android:name=".AssistantActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContraActivity"
            android:exported="false" />
        <activity
            android:name=".historico"
            android:exported="false" />
        <activity
            android:name=".MarketplaceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>